
FeelingLucky/.vs/FeelingLucky/DesignTimeBuild/.dtbcache
FeelingLucky/.vs/FeelingLucky/v16/.suo
FeelingLucky/.vs/FeelingLucky/v16/Server/sqlite3/db.lock
FeelingLucky/.vs/FeelingLucky/v16/Server/sqlite3/storage.ide
FeelingLucky/.vs/LuckyShoes/DesignTimeBuild/.dtbcache
FeelingLucky/.vs/LuckyShoes/v16/.suo
FeelingLucky/.vs/LuckyShoes/v16/Server/sqlite3/db.lock
FeelingLucky/.vs/LuckyShoes/v16/Server/sqlite3/storage.ide
FeelingLucky/FeelingLucky/.vs/FeelingLucky/DesignTimeBuild/.dtbcache
FeelingLucky/FeelingLucky/.vs/FeelingLucky/v16/.suo
FeelingLucky/FeelingLucky/.vs/FeelingLucky/v16/Server/sqlite3/db.lock
FeelingLucky/FeelingLucky/.vs/FeelingLucky/v16/Server/sqlite3/storage.ide
FeelingLucky/FeelingLucky/.vs/LuckyShoes/DesignTimeBuild/.dtbcache
FeelingLucky/FeelingLucky/.vs/LuckyShoes/v16/.suo
FeelingLucky/FeelingLucky/.vs/LuckyShoes/v16/Server/sqlite3/db.lock
FeelingLucky/FeelingLucky/.vs/LuckyShoes/v16/Server/sqlite3/storage.ide
FeelingLucky/FeelingLucky/bin/Debug/netstandard2.0/ClassLibrary1.deps.json
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.1.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.10.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.11.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.12.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.13.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.14.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.15.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.16.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.17.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.18.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.2.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.20.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.3.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.4.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.5.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.6.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.7.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.8.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes 1.0.0-alpha.9.zip
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes.deps.json
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes.dll
FeelingLucky/FeelingLucky/bin/x86/Debug/netstandard2.0/LuckyShoes.pdb
FeelingLucky/FeelingLucky/obj/ClassLibrary1.csproj.nuget.cache
FeelingLucky/FeelingLucky/obj/ClassLibrary1.csproj.nuget.dgspec.json
FeelingLucky/FeelingLucky/obj/ClassLibrary1.csproj.nuget.g.props
FeelingLucky/FeelingLucky/obj/ClassLibrary1.csproj.nuget.g.targets
FeelingLucky/FeelingLucky/obj/FeelingLucky.csproj.nuget.cache
FeelingLucky/FeelingLucky/obj/FeelingLucky.csproj.nuget.dgspec.json
FeelingLucky/FeelingLucky/obj/FeelingLucky.csproj.nuget.g.props
FeelingLucky/FeelingLucky/obj/FeelingLucky.csproj.nuget.g.targets
FeelingLucky/FeelingLucky/obj/LuckyShoes.csproj.nuget.cache
FeelingLucky/FeelingLucky/obj/LuckyShoes.csproj.nuget.dgspec.json
FeelingLucky/FeelingLucky/obj/LuckyShoes.csproj.nuget.g.props
FeelingLucky/FeelingLucky/obj/LuckyShoes.csproj.nuget.g.targets
FeelingLucky/FeelingLucky/obj/project.assets.json
FeelingLucky/FeelingLucky/obj/Debug/netstandard2.0/ClassLibrary1.AssemblyInfo.cs
FeelingLucky/FeelingLucky/obj/Debug/netstandard2.0/ClassLibrary1.AssemblyInfoInputs.cache
FeelingLucky/FeelingLucky/obj/Debug/netstandard2.0/ClassLibrary1.assets.cache
FeelingLucky/FeelingLucky/obj/Debug/netstandard2.0/ClassLibrary1.csproj.FileListAbsolute.txt
FeelingLucky/FeelingLucky/obj/Debug/netstandard2.0/ClassLibrary1.csprojAssemblyReference.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.AssemblyInfo.cs
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.AssemblyInfoInputs.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.assets.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.csproj.FileListAbsolute.txt
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.csprojAssemblyReference.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.dll
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/FeelingLucky.pdb
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.AssemblyInfo.cs
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.AssemblyInfoInputs.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.assets.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.csproj.FileListAbsolute.txt
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.csprojAssemblyReference.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.dll
FeelingLucky/FeelingLucky/obj/x86/Debug/net452/LuckyShoes.pdb
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/ClassLibrary1.AssemblyInfo.cs
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/ClassLibrary1.AssemblyInfoInputs.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/ClassLibrary1.assets.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/ClassLibrary1.csprojAssemblyReference.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.AssemblyInfo.cs
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.AssemblyInfoInputs.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.assets.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.csproj.FileListAbsolute.txt
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.csprojAssemblyReference.cache
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.dll
FeelingLucky/FeelingLucky/obj/x86/Debug/netstandard2.0/LuckyShoes.pdb
